

.case{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: auto;
    margin-top: 15vh;
    padding: 20px;
    box-sizing: border-box;

    visibility: hidden;

}

#btnApparait {
    margin-left: 50vw;
    margin-top: 100px;
    transform:translateX(-50%);
    padding: 10px 50px;
    font-size: x-large;
    border:1px black dotted
}